 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles


/*...font variables...*/
$font1: 'Oswald', sans-serif;
$font2: 'Open Sans', sans-serif;

/*...color variables...*/
$blueBtn: rgb(2, 135, 255);


/*...Style extenstions...*/
.upperStyle{
  margin-left:30px;
  margin-bottom:20px;
  margin-top:20px;
}
.middleStyle{
  display:block;
  margin-bottom:10px;
  margin-left:10px;
}


/*...scss...*/

#wrapper{
  @include outer-container;

}

#upperRegion{
  @include outer-container;
  .acctLink{
  @include span-columns(2);
  @extend .upperStyle;
  }
  .signUp{
  @include span-columns(2);
  }
  .login{
  @include span-columns(2);
  }
  .logout{
  @include span-columns(3);
  }


}

.authorsList{border:solid;}
.tagsList{border:solid;}

#middleRegion{
  @include outer-container;

  .createForm{

    h2{
      @extend .middleStyle;
    }

    #createUsername{
       @extend .middleStyle;

    }

    #createPassword{
      @extend .middleStyle;


    }

    #makeAcct{
      @extend .middleStyle;
    }

  }/*end of form*/

}/*end of middle Region*/

#lowerRegion{
  @include outer-container;

}
