 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#wrapper{
  @include outer-container;

}

#upperRegion{
  @include outer-container;
  .acctLink{
  @include span-columns(3);
  }
  .signUp{
  @include span-columns(3);
  }
  .login{
  @include span-columns(3);
  }
  .logout{
  @include span-columns(3);
  }


}

#middleRegion{
  @include outer-container;

  .createForm{

    h2{

    }

    #createUsername{

    }

    #createPassword{

    }

    #makeAcct{

    }

  }/*end of form*/

}/*end of middle Region*/

#lowerRegion{
  @include outer-container;

}
