 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'addpost.scss';

// Custom Fonts
$headerfont: 'Archivo Narrow', sans-serif;
$textfont: 'Inconsolata';
$border: 1px solid HSLA(210, 12%, 17%, 1);

// Custom Styles
body {
  background: HSLA(46, 79%, 91%, 1);
  color: #333;
}

p {
  font-family: $textfont;
}

h1, h2, h3, h4, h5, h6, button, a,  {
  font-family: $headerfont;
  color: HSLA(183, 24%, 48%, 1);
}

h1 {
  font-size: 70px;
  float:left;
}

li, a {
  list-style-type: none;
  text-decoration: none;
  font-family: $textfont;
}
a:hover {
  color: HSLA(173, 24%, 55%, 1);
}

button {
  padding: 15px;
  border: 0;
  border-radius: 2px;
  background-color: HSLA(207, 64%, 9%, 1);
  &:hover {
    background-color: HSLA(150, 18%, 81%, 1);
    p {
      background-color: HSLA(207, 64%, 9%, 1);
    }
  }
}

input {
  height: 40px;
}

form {
  width: 50%;
  padding: 15px;
  margin: 0 auto;
  border: $border;
  border-radius: 2px;
}
/* Upper Region ++++++++++++++++++++++++++++++++++++++++++++++  */
#upperRegion {
  @include outer-container;
  width: 100%;
  padding: 15px;
  border-bottom: $border;
  border-radius: 2px;

  .home{
  @include span-columns(2.4);

  }
  .signUp {
  @include span-columns(2.4);
  }

  .myAccountButton {
    @include span-columns(2.4);
  }

  .login {
  @include span-columns(2.4);
  }

  .acctLink {
  @include span-columns(2.4);
  }

  .logout {
  @include span-columns(2.4);

  }

  .logo{
    height:170px;
    width:170px;
    float:left;
  }
} /*end of Upper Region*/
/* Middle Region ++++++++++++++++++++++++++++++++++++++++++++++  */

#middleRegion {
  width: 75%;
  padding: 15px;
  margin: 15px auto;
}

.postCard {
  height: 125px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  .postHeader {
    display: block;
    h4 {
      font-size: 30px;
      margin: 0;
    }
  }
}

/* Lower Region ++++++++++++++++++++++++++++++++++++++++++++++  */
#lowerRegion {
  border: $border;
  padding: 15px;
  background-color: HSLA(210, 12%, 17%, 1);
  color: white;
  height: 100%;
  h3 {
    padding-left: 15px;
  }
  .authorsList {
    display: block;
    border: $border;
    height: 150px;
  }
  .tagsList {
    display: block;
    border: $border;
    height: 150px;
    h3 {
    }
  }
} /*end of lower region*/
